.dashboard {
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
  margin-bottom: 20px;
}

.dashboard h1 {
  font-size: 24px;
  margin-bottom: 10px;
}

.dashboard p {
  font-size: 16px;
  margin-bottom: 20px;
}

.dashboard button {
  margin-right: 10px;
}

// Produto.scss

.produto {
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #fff;
  margin-bottom: 20px;
}