//GERAL

@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap");

* {
  padding: 0;
  border: 0;
  margin: 0;
}

body {
  margin: 0;
  font-family: GelinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu,
    Cantarell, "Open Sans", "Helvetica Neue", sans-serif, Times, serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100pc;
  background-color: #f0f0f0;
}

//pagina home

.container {
  display: flex;
  flex-direction: row;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 400px;
  height: 550px;
  margin-right: 20rem;
  margin-top: 60px;
  background-color: white;
  box-shadow: 0px 20px 43px 0px rgba(0, 0, 0, 0.4),
    0px 20px 30px -12px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

.passo-1 {
  font-family: "Space Grotesk", sans-serif;
  text-transform: uppercase;
  font-size: 13px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 50%;
}

.images {
  position: relative;
  float: right;
  width: 700px;
}

.seg-img {
  width: 45px;
  height: 50px;
  align-items: center;
  margin-bottom: 10px;
}

.buttons {
  width: 100%;
  height: 50%;
  display: flex;
  flex-direction: column;
  align-self: center;
  justify-content: center;
  align-items: center;
}

.button-register,
.button-login,
.button-init {
  font-family: "Space Grotesk", sans-serif;
  text-transform: uppercase;
  font-size: 15px;
  font-weight: 500;
  width: 250px;
  height: 60px;
  border: none;
  cursor: pointer;
  background-color: #ff7c00;
  color: #ffffff;
  border-radius: 10px;
}

span {
  font-family: "Space Grotesk", sans-serif;
  text-transform: uppercase;
  font-size: 15px;
  font-weight: bolder;
  margin: 20px 0 20px 0;
}

header {
  margin-left: 20px;
}

@media screen and (max-width: 1024px) and (max-height: 768px) {
  /* Estilos para telas com largura máxima de 1024px e altura máxima de 768px */
  main {
    margin: 30px auto; /* Ajuste de margem para telas menores */
  }

  .images {
    max-width: 100%; /* Imagens ocupam 100% da largura disponível */
  }
}

//fim da pagina home

// Página DASHBOARD
@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap");

$cor-laranja: #ff7c00;
$cor-cinza: #ececec;
$cor-vermelha: #fa0000;

.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container-wrapper {
  display: flex;
  justify-content: space-between; // Distribui os containers ao longo do espaço disponível
  gap: 20px; // Define o espaço entre os containers
  width: 75%;
}

.container {
  flex: 1;
  margin: 20px;
}

.container .square1-container,
.square2-container {
  margin-right: 20rem;
  width: 300px;
  height: 420px;
  margin: 30px;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 3px 17px 24px -3px rgba(0, 0, 0, 0.6);
  display: flex;
  background-color: rgb(255, 255, 255);
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  color: rgb(0, 0, 0);
}

.Login,
.Product {
  width: 100%;
  height: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.img-product {
  width: 225px;
}

.btn {
  font-family: "Space Grotesk", sans-serif;
  font-weight: 500;
  padding: 15px;
  width: 12rem;
  height: 3.5rem;
  color: white;
  background-color: #ff7c00;
  cursor: pointer;
  font-size: 16px;
  margin-bottom: 1rem;
}

.btn:hover {
  background-color: #fff;
  color: $cor-laranja;
  border: 1px solid $cor-laranja;
  transition: ease 0.5s;
}

h4 {
  text-transform: uppercase;
  margin-top: 1rem;
  font-size: 22px;
}

@media only screen and (max-width: 768px) {
  .container .square1-container,
  .square2-container {
    width: 90%;
    margin: 20px auto;
    height: auto;
  }

  .img-product {
    width: 80%;
    height: auto;
  }

  .btn {
    width: 80%;
    font-size: 16px;
  }

  header img {
    width: 150px;
    height: auto;
  }
}

//FIM PAGINA DASHBOARD

//PÁGINA DE LOGIN

$cor-laranja: #ff7c00;
$cor-cinza: #ececec;
$cor-vermelha: #fa0000;

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.alert {
  color: #fa0000;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif,
    Haettenschweiler, "Arial Narrow Bold", sans-serif;
  font-weight: 500;
  animation: fadeIn 0.5s ease forwards; // Aplica a animação fadeIn
}

.mover {
  margin-right: 60rem;
}

.login-form {
  width: auto;
  max-width: 300px;
  border-radius: 10px;
  box-shadow: 3px 17px 24px -3px rgba(0, 0, 0, 0.6);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  color: rgb(0, 0, 0);
  padding: 90px;
  background-color: #ffffff;

  .cont2 {
    align-items: center;
    margin-bottom: 90px;
    margin-top: -20px;

    .seg-img {
      width: 70px;
      height: 80px;
    }

    h1 {
      text-align: center;
    }
  }

  .vtar {
    width: 100%;
    display: flex;
    align-items: center;
    margin-top: 20px;
    margin-bottom: -30px;
    flex-direction: column;
  }

  .btn-go {
    margin-top: 20px;
    font-family: "Space Grotesk", sans-serif;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 500;
    width: 80%;
    height: 60px;
    border: none;
    cursor: pointer;
    background-color: #ff7c00;
    color: #ffffff;
    border-radius: 10px;
    align-items: center;
  }
  .btn-go:hover {
    background-color: #fff;
    color: $cor-laranja;
    border: 1px solid $cor-laranja;
    transition: ease 0.5s;
  }

  .spaa {
    font-size: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    color: #000000;
  }
}

.input-box {
  position: relative;
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}
.input-box input {
  background-color: rgb(221, 221, 221);
  width: 20rem; /* ajuste conforme necessário */
  height: 35px;
  border-radius: 5px;
  border: none;
  padding: 10px; /* ajuste conforme necessário */
  margin-bottom: 20px;
  font-family: "Space Grotesk", sans-serif;
  font-weight: 500;
  font-size: 15px;
  color: rgb(0, 0, 0);
}
.icon {
  font-size: 20px;
  margin-right: 10px; /* Adicionando margem à direita do ícone para separá-lo do input */
}

.input-box input:focus {
  outline: none;
}

@media screen and (max-width: 600px) {
  .login-form {
    margin: 10px;
    padding: 10px;
    height: auto;
    margin-right: auto; /* Define a margem direita como automática em telas menores */
    margin-left: auto; /* Centraliza o formulário na tela em telas menores */
  }

  .mover {
    margin: 10px;
    padding: 10px;
    height: auto;
    margin-right: auto; /* Define a margem direita como automática em telas menores */
    margin-left: auto; /* Centraliza o formulário na tela em telas menores */
  }

  .login-form .cont2 {
    order: -1;
  }

  .login-form .btn-go {
    width: 100%;
  }
}

//FIM PÁGINA DE LOGIN

// PÁGINA DE CADASTRO

.register-form {
  width: auto;
  max-width: 300px;
  border-radius: 10px;
  box-shadow: 3px 17px 24px -3px rgba(0, 0, 0, 0.6);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  color: rgb(0, 0, 0);
  padding: 90px;
  background-color: #ffffff;

  .reg {
    margin-bottom: 90px;
    margin-top: -20px;

    .lo {
      width: 70px;
      height: 80px;
      margin-left: 20px;
    }

    h1 {
      text-align: center;
    }
  }

  .bax {
    width: 100%;
    display: flex;
    align-items: center;
    margin-top: 20px;
    margin-bottom: -30px;
    flex-direction: column;
  }

  .btn-re {
    margin-top: 20px;
    font-family: "Space Grotesk", sans-serif;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 500;
    width: 80%;
    height: 60px;
    border: none;
    cursor: pointer;
    background-color: #ff7c00;
    color: #ffffff;
    border-radius: 10px;
    align-items: center;
  }

  .btn-re:hover {
    background-color: #fff;
    color: $cor-laranja;
    border: 1px solid $cor-laranja;
    transition: ease 0.5s;
  }

  .sp {
    font-size: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    color: #000000;
  }
}

.input-box {
  position: relative;
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}
.input-box input {
  background-color: rgb(221, 221, 221);
  width: 20rem; /* ajuste conforme necessário */
  height: 35px;
  border-radius: 5px;
  border: none;
  padding: 10px; /* ajuste conforme necessário */
  margin-bottom: 20px;
  font-family: "Space Grotesk", sans-serif;
  font-weight: 500;
  font-size: 15px;
  color: rgb(0, 0, 0);
}
.icon {
  font-size: 20px;
  margin-right: 10px; /* Adicionando margem à direita do ícone para separá-lo do input */
}

.input-box input:focus {
  outline: none;
}

@media screen and (max-width: 600px) {
  .register-form {
    margin: 10px;
    padding: 10px;
    height: auto;
    margin-right: auto; /* Define a margem direita como automática em telas menores */
    margin-left: auto; /* Centraliza o formulário na tela em telas menores */
  }

  .mover {
    margin: 10px;
    padding: 10px;
    height: auto;
    margin-right: auto; /* Define a margem direita como automática em telas menores */
    margin-left: auto; /* Centraliza o formulário na tela em telas menores */
  }

  .register-form .cont2 {
    order: -1;
  }

  .register-form .btn-go {
    width: 100%;
  }
}

///consulta geral
/// 
.consulta-geral-container {
  padding: 20px;
}

.resultados-list {
  list-style: none;
  padding: 0;
}

.resultado-item {
  margin-bottom: 20px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.resultado-item span {
  display: block;
  margin-bottom: 5px;
}

.resultado-item strong {
  font-weight: bold;
  color: #333;
}

.editar-btn,
.excluir-btn {
  margin-left: 10px;
  padding: 5px 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.editar-btn:hover,
.excluir-btn:hover {
  background-color: #0056b3;
}

