// GERAL
@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap");

$cor-laranja: #ff7c00;
$cor-cinza: #ececec;
$cor-vermelha: #fa0000;

* {
  padding: 0;
  border: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Space Grotesk", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #f0f0f0;
}

// PÁGINA HOME
.container-s {

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 15em;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 400px;
  max-width: 90%;
  height: 550px;
  margin: 60px 20px;
  background-color: white;
  box-shadow: 0px 20px 43px 0px rgba(0, 0, 0, 0.4),
    0px 20px 30px -12px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

.passo-1 {
  font-family: "Space Grotesk", sans-serif;
  text-transform: uppercase;
  font-size: 13px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 35px;
  gap: 20px;
}

.buttons {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  flex-direction: column;
}

.button-init {
  font-family: "Space Grotesk", sans-serif;
  text-transform: uppercase;
  font-size: 15px;
  font-weight: 800;
  width: 250px;
  height: 60px;
  margin: 10px;
  border: none;
  cursor: pointer;
  background-color: #ff7c00;
  color: #ffffff;
  border-radius: 10px;
}

.button-init:hover {
  background-color: #fff;
  color: $cor-laranja;
  border: 1px solid $cor-laranja;
  transition: ease 0.5s;
}

span {
  font-family: "Space Grotesk", sans-serif;
  text-transform: uppercase;
  font-size: 15px;
  font-weight: bolder;
  margin: 20px 0;
}

header {
  margin-left: 20px;
}

// Define uma variável para o tamanho máximo da imagem em pixels
$maxImageSize: 700px;

.seg-img {
  width: 30%; // Garante que a imagem se ajuste ao contêiner
  height: auto; // Mantém a proporção da imagem
  margin-top: auto; // Define a margem superior automática para centralizar verticalmente
  margin-bottom: auto; // Define a margem inferior automática para centralizar verticalmente
}

.images {
  width: 120%;
  position: static;
  max-width: $maxImageSize;
  height: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: calc(
    (100% - 110%) / 2
  ); // Calcula a margem esquerda para centralizar a imagem horizontalmente
}

@media screen and (max-width: 768px) {
  // Ajustes para telas menores
  main {
    width: 90%;
    margin-left: 5%; // Ajusta a margem esquerda para manter o conteúdo centralizado
  }

  .buttons {
    flex-direction: column;
    margin-left: 5%; // Ajusta a margem esquerda para manter o conteúdo centralizado
  }

  .button-init {
    width: calc(100% - 20px);
  }

  .images {
    max-width: 80%;
    width: 100%; // Ajusta o tamanho da imagem para ocupar 100% da largura do contêiner
    margin-left: 0; // Remove a margem esquerda para manter a imagem centralizada
  }
}

// FIM PÁGINA HOME

// PÁGINA DE LOGIN
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.mover {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

#imagem-princ{
  margin-left: 15em;
  width: 800px;
  height: 690px;
}

.alert-s {
  color: #00ff22;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif,
    Haettenschweiler, "Arial Narrow Bold", sans-serif;
  font-weight: 500;
  animation: fadeIn 0.5s ease forwards; // Aplica a animação fadeIn
}

.alert {
  color: #fa0000;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif,
    Haettenschweiler, "Arial Narrow Bold", sans-serif;
  font-weight: 500;
  animation: fadeIn 0.5s ease forwards; // Aplica a animação fadeIn
}

.form-container {
  margin-left: 5vw; // Define a margem esquerda em relação à largura da viewport
  margin-right: 5vw; // Define a margem direita em relação à largura da viewport
}

.login-form,
.register-form {
  width: 100%;
  max-width: 500px; // Ajuste conforme necessário
  border-radius: 10px;
  box-shadow: 3px 17px 24px -3px rgba(0, 0, 0, 0.6);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  color: rgb(0, 0, 0);
  padding: 100px; // Ajuste conforme necessário
  background-color: #ffffff;

  .cont2 {
    font-family: "Space Grotesk", sans-serif;
    text-transform: uppercase;
    font-size: 18px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 35px;
    gap: 15px;

    .seg-img {
      width: 75px; // Ajuste conforme necessário
      height: 90px; // Ajuste conforme necessário
    }
  }

  .vtar {
    width: 100%;
    display: flex;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px; // Ajuste conforme necessário
    flex-direction: column;
  }

  .btn-go,
  .btn-re {
    margin-top: 20px;
    font-family: "Space Grotesk", sans-serif;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 500;
    width: 100%;
    height: 60px;
    border: none;
    cursor: pointer;
    background-color: #ff7c00;
    color: #ffffff;
    border-radius: 10px;
    align-items: center;

    &:hover {
      background-color: #fff;
      color: $cor-laranja;
      border: 1px solid $cor-laranja;
      transition: ease 0.5s;
    }
  }

  .spaa,
  .sp {
    font-size: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    color: #000000;
  }

  .input-box {
    position: relative;
    display: flex;
    align-items: center;
    margin-bottom: 25px;

    input {
      font-size: 15px;
      height: 5rem;
      background-color: rgb(221, 221, 221);
      width: 25rem; // Alterado para ocupar toda a largura do contêiner
      border-radius: 5px;
      border: none;
      padding: 9px 40px 8px 40px; // Ajustado o padding esquerdo para deixar espaço para o ícone
      font-family: "Space Grotesk", sans-serif;
      font-weight: 500;
      color: rgb(0, 0, 0);

      &:focus {
        outline: none;
        padding-left: 50px; // Ajuste do padding esquerdo quando o input está focado
      }
    }

    .icon {
      position: absolute;
      left: 15px; // Posicionamento absoluto à esquerda do input
      font-size: 20px;
    }
  }
}

@media screen and (max-width: 600px) {
  .login-form,
  .register-form {
    padding: 40px; // Ajuste o padding conforme necessário
  }

  .cont2 {
    margin-bottom: 30px; // Ajuste conforme necessário
  }

  .register-form {
    margin-left: auto;
    margin-right: auto;
    // Centraliza o formulário na tela em telas menores
  }
}

// FIM PÁGINA DE LOGIN

// PÁGINA DE CADASTRO
.register-form {
  margin-left: 5vw; // Define a margem esquerda em relação à largura da viewport
  margin-right: 5vw; // Define a margem direita em relação à largura da viewport
}

// Ajuste o estilo conforme necessário
.reg {
  font-family: "Space Grotesk", sans-serif;
  text-transform: uppercase;
  font-size: 18px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 35px;
  gap: 15px;

  .lo {
    width: 75px; // Ajuste conforme necessário
    height: 90px; // Ajuste conforme necessário
  }
}

@media screen and (max-width: 600px) {
  .register-form {
    margin: 10px;
    padding: 10px;
    height: auto;
    margin-right: auto;
    // Define a margem direita como automática em telas menores
    margin-left: auto;
    // Centraliza o formulário na tela em telas menores
  }

  .register-form .cont2 {
    order: -1;
  }

  .register-form .btn-go {
    width: 100%;
  }
}

// FIM CADASTRO
// Página DASHBOARD
.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container-wrapper {
  display: flex;
  flex-wrap: wrap;
  /* Permite que os containers sejam distribuídos em várias linhas em telas menores */
  justify-content: center;
  /* Centraliza os containers na tela */
  gap: 25px;
  /* Define o espaço entre os containers */
  width: 90%;
  /* Ajusta a largura para ocupar 90% da largura disponível */
  max-width: 1000px;
  /* Define uma largura máxima para os containers */
  margin: 0 auto;
  /* Centraliza os containers na tela */
}

.container {
  flex: 1;
  width: 400px;
  max-width: 100%;
  /* Garante que o container não exceda a largura máxima */
  margin: 20px;
}

.container .square1-container,
.square2-container {
  width: 100%;
  height: 490px;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 3px 17px 24px -3px rgba(0, 0, 0, 0.6);
  display: flex;
  background-color: rgb(255, 255, 255);
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  color: rgb(0, 0, 0);
}

.Login,
.Product {
  width: 100%;
  height: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.img-product {
  width: 225px;
  height: auto;
}

.btn {
  font-family: "Space Grotesk", sans-serif;
  font-weight: 500;
  padding: 15px;
  width: 12rem;
  height: 3.5rem;
  color: white;
  background-color: #ff7c00;
  cursor: pointer;
  font-size: 16px;
  margin-bottom: 1rem;
}

.btn:hover {
  background-color: #fff;
  color: #ff7c00;
  border: 1px solid #ff7c00;
  transition: ease 0.5s;
}

h4 {
  text-transform: uppercase;
  margin-top: 1rem;
  font-size: 22px;
}

@media only screen and (max-width: 768px) {
  .container {
    width: 90%;
    /* Ajusta a largura do container para ocupar 90% da largura disponível */
    margin: 20px auto;
    /* Centraliza o container na tela */
  }

  .container .square1-container,
  .square2-container {
    height: auto;
    /* Ajusta a altura automaticamente conforme o conteúdo */
  }

  .img-product {
    width: 80%;
    height: auto;
  }

  .btn {
    width: 80%;
    font-size: 16px;
  }

  header img {
    width: 150px;
    height: auto;
  }
}

// FIM PAGINA DASHBOARD

//CADASTRO GERAL

.cadastro {
  & > div:first-child {
    animation: fadeIn 0.5s ease-out;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translate3d(0, -50px, 0);
  }

  100% {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

.cima {
  position: fixed;
  top: 0;
  left: 5rem;
  width: 100%;
  display: flex;
  flex-direction: row;
  z-index: 1000;
}

.headercad {
  display: flex;
  margin-top: 1rem;
  flex-direction: row;
  justify-content: space-between;
  background-color: $cor-laranja;
  box-shadow: 0.2rem 1.1rem 1.6rem -0.3rem rgba(0, 0, 0, 0.37);
}

.cadss {
  text-transform: uppercase;
  margin-top: 1rem;
  font-size: 1.15rem;
  text-align: center;
}

.btn-log {
  font-family: "Space Grotesk", sans-serif;
  text-transform: uppercase;
  font-size: 1.25rem;
  font-weight: 500;
  border: none;
  cursor: pointer;
  background-color: $cor-laranja;
  color: #ffffff;
  border-radius: 0.2rem;
  padding: 2.3rem;
  width: 20rem;

  &:hover {
    background-color: rgb(221, 221, 221);
    color: $cor-laranja;
    transition: ease 0.5s;
  }
}

.selected {
  background-color: rgb(221, 221, 221);
  color: $cor-laranja;
}

.btt {
  margin-top: 1rem;
  font-family: "Space Grotesk", sans-serif;
  text-transform: uppercase;
  font-size: 1.25rem;
  font-weight: 500;
  width: 100%;
  height: 5rem;
  border: none;
  cursor: pointer;
  background-color: #ff7c00;
  color: #ffffff;
  border-radius: 0.3rem;
  align-items: center;

  &:hover {
    background-color: #fff;
    color: $cor-laranja;
    border: 0.1rem solid $cor-laranja;
    transition: ease 0.5s;
  }
}

.select-container {
  position: relative;
  width: 100%;
  margin-bottom: 12px;
}

.select-container select {
  width: 100%;
  padding: 1rem;
  font-size: 1rem;
  border: none;
  border-radius: 0.3rem;
  background-color: rgb(221, 221, 221);
  appearance: none;
}

.select-container::after {
  content: "\25BC";
  font-size: 0.75rem;
  color: #ffffff;
  position: absolute;
  top: 50%;
  right: 1rem;
  transform: translateY(-50%);
  pointer-events: none;
}

.select-container select:focus {
  outline: none;
  border-color: #007bff;
}

.quadro {
  width: 100%;
  max-width: 101.5rem;
  height: 40rem;
  border-radius: 1rem;
  box-shadow: 0.2rem 1.1rem 1.6rem -0.3rem rgba(0, 0, 0, 0.6);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: rgb(0, 0, 0);
  padding: 1.5rem;
  background-color: #ffffff;

  /* Ajustes para as labels */
  label {
    color: $cor-laranja;
    font-weight: 500;
    text-transform: uppercase;
    font-size: 1.15rem;
    margin-right: 1rem;
    /* Espaçamento entre a label e o input */
    display: flex;
    align-items: center;
  }

  input {
    margin-bottom: 1rem;
    font-size: 0.939rem;
    height: 4rem;
    background-color: rgb(221, 221, 221);
    width: 100%;
    border-radius: 5px;
    border: none;
    padding: 1rem 2.5rem;
    font-family: "Space Grotesk", sans-serif;
    font-weight: 500;
    color: rgb(0, 0, 0);

    &:focus {
      outline: none;
    }
  }

  form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    /* Alinhar itens à esquerda */
    margin-bottom: 15px;

    > div {
      display: flex;
      flex-direction: column;
      /* Alterado para coluna */
      gap: 12px;
    }

    button {
      align-self: flex-end;
      margin-top: 1.2rem;
    }
  }
}

select#local {
  width: 100%;
  padding: 1rem;
  font-size: 1rem;
  border: none;
  border-radius: 0.3rem;
  background-color: rgb(221, 221, 221);
  appearance: none;
}

/* Media Queries */
@media only screen and (min-width: 48rem) {
  .quadro {
    padding: 3.125rem;
  }
}

//FIM DA PAGINA DE CADASTRO GERAL
// consulta geral
.center {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 1.6rem;

  
}


.filtro-container {
  display: flex;
  flex-direction: row;
  margin-top: 0.95rem;
  justify-content: space-between;
  gap: 10px;

  .icon{
     font-size: 1.5rem;
     color: black;
     cursor: pointer;
     transition: ease 0.5s;

 
  }
}

.heads {
  background-color: $cor-laranja;
  box-shadow: 0.2rem 1.1rem 1.6rem -0.3rem rgba(0, 0, 0, 0.37);
  padding: 20px;
  border-radius: 4px;
  color: white;
  width: 70rem; // Definindo a largura total
  max-width: 800rem; // Definindo uma largura máxima para o componente

  h2 {
    margin-top: 6px;
    white-space: nowrap;
    font-size: 20px;
    display: flex;
  }

  input[type="radio"] {
    appearance: none;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 3px solid white;
    cursor: pointer;

    margin-right: 5px;
    &:checked {
      background-color: rgb(255, 49, 49);
    }

    &:focus {
      outline: none;
      box-shadow: 0 0 0 3px rgba(255, 255, 255, 0.5);
    }
  }

  input[type="text"] {
    margin-left: 10rem;
    height: 20px;
    width: calc(100% - 150px); // Reduzindo a largura para acomodar o botão
    padding: 25px;
    border: none;
    background-color: rgb(255, 255, 255);
    font-family: "Space Grotesk", sans-serif;
    color: rgb(0, 0, 0);
    border: none;
    font-size: 15px;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    font-weight: 500;

    &:focus {
      outline: none;
    }
  }

  button {
    width: 100px; // Definindo a largura do botão
    cursor: pointer;
    padding: 10px;
    background-color: white;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
  }

  label {
    display: flex;
    align-items: center;
    font-family: "Space Grotesk", sans-serif;
    font-size: 20px;
    font-weight: 500;
    flex-direction: row-reverse; // Posiciona o radio do outro lado

  }
}


.consultas {
  margin-top: 20px;
  width: 100%;
  max-width: 101.5rem;
  border-radius: 1rem;
  box-shadow: 0.2rem 1.1rem 1.6rem -0.3rem rgba(0, 0, 0, 0.6);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: rgb(0, 0, 0);
  padding: 1.5rem;
  background-color: #ffffff;
}

.opcoes {
  gap: 20px;
  display: flex;
  flex-direction: row;
  color: white;
}

.base {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
  position: relative;
}

.result-item {
  gap: 5rem;
  border-bottom: 1px solid #ccc;
  padding-bottom: 1rem;
}

.result-field {
  flex: 1;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}


.modal {
  display: none; /* Inicialmente oculto */
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Fundo escuro semi-transparente */
  z-index: 999; /* Garante que o modal esteja acima do conteúdo da página */
}

.modal.open {
  display: block; /* Exibe o modal quando o estado 'open' for verdadeiro */
}

.modal-content {
  background-color: #fefefe; /* Cor de fundo do modal */
  margin: 20% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  max-width: 600px;
  position: relative;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

