@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap');

$cor-laranja: #FF7C00;
$cor-cinza: #ECECEC;
$cor-vermelha: #FA0000;

.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container-wrapper {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.container {
  flex: 1;
  margin: 20px;
}

.container .square1-container,
.square2-container {
  width: 300px;
  height: 420px;
  margin: 30px;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 3px 17px 24px -3px rgba(0,0,0,0.6);
  display: flex;
  background-color: rgb(255, 255, 255);
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  color: rgb(0, 0, 0);
}



.Login,
.Product {
  width: 100%;
  height: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.img-product {
  width: 225px;

}

.btn {
  font-family: "Space Grotesk", sans-serif;
  font-weight: 500;
  padding: 15px;
  width: 12rem;
  height: 3.5rem;
  color: white;
  background-color: #FF7C00;
  cursor: pointer;
  font-size: 16px;
  margin-bottom: 1rem;
}

.btn:hover {
  background-color: #fff;
  color: $cor-laranja;
  border: 1px solid $cor-laranja;
  transition: ease 0.5s;
}


h4{
  text-transform: uppercase;
  margin-top: 1rem;
  font-size: 22px;
}


@media only screen and (max-width: 768px) {
  .container .square1-container,
  .square2-container {
    width: 90%; /* Reduz a largura para preencher a tela */
    margin: 20px auto; /* Centraliza horizontalmente */
    height: auto; /* Define a altura automática */
  }

  .img-product {
    width: 80%; /* Reduz a largura da imagem */
    height: auto; /* Define a altura automática */
  }

  .btn {
    width: 80%; /* Reduz a largura do botão */
    font-size: 16px; /* Reduz o tamanho da fonte do botão */
    height: auto; /* Define a altura automática */
  }

  header img {
    width: 150px; /* Reduz a largura do logo */
    height: auto; /* Define a altura automática */
  }
}
