$cor-laranja: #FF7C00;
$cor-cinza: #ECECEC;
$cor-vermelha: #FA0000;

.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container-wrapper {
  display: flex;
  justify-content: space-between; /* Espaçamento igual entre os contêineres */
  width: 100%; /* Para garantir que os contêineres ocupem a largura total */
}

.container {
  flex: 1; /* Para que cada contêiner ocupe a mesma quantidade de espaço */
  margin: 20px; /* Espaçamento entre os contêineres */
}

.container .square-container {
  width: 200px; /* tamanho do quadrado */
  height: 300px; /* tamanho do quadrado */
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); 
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  color: black;
}


.bloc {
  position: absolute;
  top: 50px;
  right: 20px;
  
}


img{
  width: 70px;
  height: 50%;
  position: relative; 
  border-radius: 60px;
}