$cor-laranja: #FF7C00;
$cor-cinza: #ECECEC;
$cor-vermelha: #FA0000;

.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container-wrapper {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.container {
  flex: 1;
  margin: 20px;
}

.container .square1-container,
.square2-container


{
  width: 300px;
  height: 400px;
  margin: 30px;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.555); 
  display: flex;
  background-color: rgb(255, 255, 255);
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  color: rgb(107, 89, 89);
}



.bloc {
  position: relative; /* Alterado para relative para manter o fluxo do documento */
  top: 50px;
  right: 20px;
}




img {

  width: 7px;
  height:7px;
  left:14px;
  top: -230px;
  color: #FF7C00;
  transform: rotate(-10.95deg);
}



body {
  background-color: white; /*Define  a cor de fundo do body como branco */
}

.fundo {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background-image: url('../../assets//fundo.png');
  background-size: cover;
  background-position: center;
}


.btn {
  padding: 15px;
  width: 10rem;
  height: 4rem;
  color: white;
  background-color: #FF7C00;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease; /* Adiciona uma transição suave para a mudança de cor de fundo e texto */
}

.btn:hover {
  background-color: #b85a03;
  color: white;
}


