$cor-laranja: #FF7C00;
$cor-cinza: #ECECEC;
$cor-vermelha: #FA0000;


* {
  padding: 0;
  border: 0;
  margin: 0;
}

body {
  font-family: "Space Grotesk", sans-serif;
  font-weight: 400;
  color: #222222;
}

header{
  float: left;
  height: 100px;
  width: 100%;
  position: absolute;
  top: 0%;
  padding-top: 4%;
  left: 2%;
}






