.Header {
  width: 100%;
  display: flex;
  justify-content: center;
  position: fixed;
  top: 0; /* Garante que o cabeçalho fique no topo da página */
  background-color: #ffffff; /* Cor de fundo do cabeçalho, se desejar */
  z-index: 999; /* Garante que o cabeçalho esteja acima de outros elementos */
  height: 80px; /* Ajuste a altura do cabeçalho */
}


.Header img {
  width: 300px;
  height: 80px;
}
